{% extends '::index.html.twig' %}
{% block contenido %}
    <div class="col-lg-12">
        <h3 class="page-header">Adjuntando documentos {{ trabajo.tituloTrabajo }}</h3>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="col-md-12">
                Resumen: <input type="file" name="resumen" id="resumen" />
            </div>
            <div class="col-md-12">
                Articulo: <input type="file" name="articulo" id="articulo" />
            </div>
            <div class="col-md-12">
                Documento: <input type="file" name="documento" id="documento" />
            </div>
            <div class="col-md-12">
                Manual de Usuario: <input type="file" name="manualu" id="manualu" />
            </div>
            <div class="col-md-12">
                Manual Técnico: <input type="file" name="manualt" id="manualt" />
            </div>
            <div class="col-md-12">
                Código fuente: <input type="file" name="codigof" id="codigof" />
            </div>
            <div class="col-md-12">
                Software: <input type="file" name="soft" id="soft" />
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
            <p>
                &nbsp;&nbsp;&nbsp; <button class="btn btn-warning" onclick="uploadAjax()">Adjuntar Documentos</button>
            </p>
        </div>
    </div>
{% endblock %}

{% block scriptModulo %}
<script>
    function uploadAjax(){
        var inputFile = document.getElementById("resumen");
        var resumen = inputFile.files[0];
        inputFile = document.getElementById("articulo");
        var articulo = inputFile.files[0];
        inputFile = document.getElementById("documento");
        var documento = inputFile.files[0];
        inputFile = document.getElementById("soft");
        var soft = inputFile.files[0];
        inputFile = document.getElementById("codigof");
        var codigof = inputFile.files[0];
        inputFile = document.getElementById("manualt");
        var manualt = inputFile.files[0];
        inputFile = document.getElementById("manualu");
        var manualu = inputFile.files[0];
        
        var data = new FormData();
        data.append('resumen',resumen);
        data.append('articulo',articulo);
        data.append('documento',documento);
        data.append('soft',soft);
        data.append('codigof',codigof);
        data.append('manualt',manualt);
        data.append('manualu',manualu);
        
        var url = "{{ path("udec_app_trabajos_adjuntar_docs",{'idTrabajo':idTrabajo}) }}";
        $.ajax({
            url:url,
            type:'POST',
            contentType:false,
            data:data,
            processData:false,
            cache:false
        });
    }
</script>
{% endblock %}